/* root é a propriedade utilizada para criarmos váriaveis */
:root {
    --primary: #6366f1;
    --secondary: #1e293b;
    --dark: #0f172a;
    --light: #f8f4fc;
    --hover: #4f46e5;
    --success: #065f46;
    --successLight: #059669;
    --error: #7f1d1d;
    --errorLight: #b91c1c;
}


/* utilizamos as váriaveis que criamos através da função var */
body {
    background: var(--dark);
    color: var(--light);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* viewheight - 100% da minha altura será vista como minha visualização horizontal, diferente de vw que é a viewwidth */
    margin: 0;
    padding: 0;
}

.auth-card {
    background: var(--secondary);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}

input {
    width: 94%;
    padding: 0.75rem;
    margin: 0.5rem 0 1.5rem 0;
    border-radius: 0.5rem;
    border: solid 1px var(--light);
    background: var(--dark);
    color: var(--light);
}

button {
    width: 100%;
    padding: 0.75rem;
    background: var(--primary);
    color: var(--light);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: var(--hover);
}

fieldset {
    border: none;
}


.link-action {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: var(--light);
    text-decoration: none;
    font-size: 0.9rem;
}


.link-action:hover { color: var(--hover); }

.d-none { display: none; } /* classe para esconder*/


.message-box {
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    text-align: center;
    transition: all 0.3s ease;
}

.msg-sucess {
    background: var(--success);
    color: var(--light);
    border: solid 1px var(--successLight);
}

.msg-error {
    background: var(--error);
    color: var(--light);
    border: solid 1px var(--errorLight);
}